# import library & define functions

In [1]:
import pandas as pd
import numpy as np
import sudoku
import importlib
importlib.reload(sudoku)

/Users/kaikeda/.pyenv/versions/3.6.8/envs/python3/lib/python3.6/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)
/Users/kaikeda/.pyenv/versions/3.6.8/envs/python3/lib/python3.6/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

# import data

In [2]:
result = np.loadtxt('input_data/test_1.csv', delimiter=',', dtype='int64')
sudoku = sudoku.Sudoku(result)

imported data: null size: 57

   0  1  2  3  4  5  6  7  8
0  0  0  8  0  0  3  0  0  0
1  0  0  7  0  1  0  9  0  0
2  6  3  0  0  0  2  0  7  0
3  0  0  0  0  0  0  4  0  9
4  0  7  0  0  0  0  0  8  0
5  5  0  1  0  0  0  0  0  0
6  0  4  0  7  0  0  0  5  2
7  0  0  9  0  5  0  8  0  0
8  0  0  0  4  0  0  7  0  0

# calc

In [3]:
sudoku.calc()

.
.
.
.
.
.
.
.
.
.
.

   0  1  2  3  4  5  6  7  8
0  0  0  8  6  7  3  0  0  0
1  0  0  7  8  1  5  9  0  0
2  6  3  5  9  4  2  1  7  8
3  0  0  0  5  0  7  4  1  9
4  0  7  4  0  0  0  0  8  0
5  5  0  1  0  0  4  0  0  7
6  0  4  0  7  0  0  0  5  2
7  7  0  9  0  5  0  8  0  0
8  0  5  0  4  0  0  7  9  0

.
.
.
.
.
.
.
.
unresolved size: 1
.
.
.
.
.
.
.
.
.
.
.
.
.
complete!

# display result

In [4]:
sudoku.display_result()

   0  1  2  3  4  5  6  7  8
0  9  1  8  6  7  3  5  2  4
1  4  2  7  8  1  5  9  3  6
2  6  3  5  9  4  2  1  7  8
3  3  8  6  5  2  7  4  1  9
4  2  7  4  1  6  9  3  8  5
5  5  9  1  3  8  4  2  6  7
6  1  4  3  7  9  8  6  5  2
7  7  6  9  2  5  1  8  4  3
8  8  5  2  4  3  6  7  9  1

# display remaining candidate

In [5]:
sudoku.display_remaining_candidate()